#currency-table,
#building-table,
#add-row-price-table1,
#add-row-price-table2
{
	border: 1px solid black;
	border-spacing: 0;
	vertical-align: top;
}

#currency-building-detail-flex
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: left;
	margin-right: 10px;
}

#building-flex
{
	width: 600px;
	height: 600px;
	overflow: scroll;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: left;
	align-items: top;
}

#reset-game-holder
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

#reset-game-holder .buy-button
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#building-table
{
	margin-right: 10px;
}

#add-row
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: top;
}

#add-row-price-flex
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: center;
}

.major-flex
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: left;
}

.building-header
{
	height: 28px;
	border: 1px solid black;
	text-align: center;
}

.currency-header
{
	width: 320px;
	height: 30px;
	border: 1px solid black;
	padding: 0;
	text-align: center;
}

#currency-table tr
{
	height: 36px;
}

#add-row-buy-table
{
	border: 1px solid black;
	border-spacing: 0;
	vertical-align: top;
}

#add-row
{
	display: inline-block;
}

.buy-button
{
	width: 184px;
	height: 50px;
	border: 1px solid black;
	background-color: #AAAAAA;
	padding: 0;
}

.buy-button:disabled
{
	text-decoration: line-through;
}

#reset-checkboxes
{
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: center;
}

#reset-checkboxes div
{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#reset-checkboxes div input
{
	width: 30px;
	height: 30px;
}

.buy-button:hover
{
	background-color: black;
	color: white;
}

.button-holder
{
	padding: 0;
}

.building div
{
	border: 4px solid black;
}

.building div.selected
{
	border: 4px solid white;
}

.building div.selected-A
{
	border: 4px solid pink;
}

.building div.selected-B
{
	border: 4px solid red;
}

.building div.selected-C
{
	border: 4px solid orange;
}

.building div.selected-D
{
	border: 4px solid yellow;
}

.building div.selected-E
{
	border: 4px solid lime;
}

.building div.selected-F
{
	border: 4px solid cyan;
}

.building div.selected-G
{
	border: 4px solid blue;
}

.building div.selected-H
{
	border: 4px solid purple;
}

.building div.selected-I
{
	border: 4px solid brown;
}

.building div.selected-J
{
	border: 4px solid black;
}

.building div:hover
{
	border: 4px solid white;
}

.select-check
{
	height: 30px;
	width: 30px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
}

.currency-amount-extra
{
	height: 30px;
	width: 180px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
    padding-left: 2px;
}

.currency-title
{
	min-width: 30px;
	min-height: 30px;
	border: 1px solid black;
	text-align: center;
	padding: 0;
}

.currency-amount
{
	min-height: 30px;
	min-width: 140px;
	max-width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: right;
	padding: 0;
    padding-right: 2px;
}

.currency-income
{
	min-height: 30px;
	min-width: 140px;
	max-width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: right;
	padding: 0;
	padding-right: 2px;
}

.title-A
{
	background-color: pink;
	color: black;
}

.title-B
{
	background-color: red;
	color: white;
}

.title-C
{
	background-color: orange;
	color: black;
}

.title-D
{
	background-color: yellow;
	color: black;
}

.title-E
{
	background-color: lime;
	color: black;
}

.title-F
{
	background-color: cyan;
	color: black;
}

.title-G
{
	background-color: blue;
	color: white;
}

.title-H
{
	background-color: purple;
	color: white;
}

.title-I
{
	background-color: brown;
	color: white;
}

.title-J
{
	background-color: black;
	color: white;
}

.building
{
	padding: 0;
	border-spacing: 0;
	width: 48px;
	height: 48px;
	border: 1px solid black;
}

.building canvas
{
	display: block;
	height: 40px;
	width: 40px;
}