<h1>
  {{gameInfo.title}}
</h1>
<table id="currency-table">
	<tr *ngFor="let x of gameInfo.currencies">
		<td [ngClass]="'currency-title title-' + x.name">{{x.name|uppercase}}</td>
		<td [ngClass]="'currency-amount amount-' + x.name">{{x.amount|number:'1.0-1'}}</td>
		<td [ngClass]="'currency-income income-' + x.name">+{{x.income|number:'1.0-1'}}/s</td>
	</tr>
</table>

<table id="building-table">
	<tr *ngFor="let x of gameInfo.throwawayGridX" [ngClass]="'building-row building-row-' + x">
		<td *ngFor="let y of gameInfo.throwawayGridY" (click)="selectBuilding(x, y)" [ngClass]="'building building-' + y">
			<canvas width="30px" height="30px"></canvas>
		</td>
	</tr>
</table>

<div id="add-row">
	<table id="add-row-buy-table">
		<tr>
			<td class="button-holder">
				<button (click)="gameInfo.addRow()" [ngClass]="'buy-button'">
					Add Row
				</button>
			</td>
		</tr>
		<tr>
			<td class="currency-amount-extra">
				Price: {{gameInfo.addRowPrice|number:'1.0-1'}} each of the selected currencies
			</td>
		</tr>
	</table>
	<table id="add-row-price-table1">
		<tr *ngFor="let x of gameInfo.currencyThrowaway1">
			<td [ngClass]="'currency-title title-' + gameInfo.currencies[x].name">{{gameInfo.currencies[x].name|uppercase}}</td>
			<td class="select-check">
				<input [(ngModel)]="gameInfo.addRowSelectedCurrencies[x]" type="checkbox" (change)="gameInfo.updateAddRowPrice()"/>
			</td>
		</tr>
	</table>
	<table id="add-row-price-table2">
		<tr *ngFor="let x of gameInfo.currencyThrowaway2">
			<td [ngClass]="'currency-title title-' + gameInfo.currencies[x].name">{{gameInfo.currencies[x].name|uppercase}}</td>
			<td class="select-check">
				<input [(ngModel)]="gameInfo.addRowSelectedCurrencies[x]" type="checkbox" (change)="gameInfo.updateAddRowPrice()"/>
			</td>
		</tr>
	</table>
</div>

<building-view [building]="selectedBuilding" [gameInfo]="gameInfo"></building-view>