#currency-table,
#building-table,
#add-row-price-table1,
#add-row-price-table2
{
	border: 1px solid black;
	border-spacing: 0;
	display: inline-table;
	vertical-align: top;
}

#add-row-buy-table
{
	border: 1px solid black;
	border-spacing: 0;
	vertical-align: top;
}

#add-row
{
	display: inline-block;
}

.buy-button
{
	width: 184px;
	height: 50px;
	border: 1px solid black;
	padding: 0;
	background-color: #888888;
}

.button-holder
{
	padding: 0;
}

.select-check
{
	height: 30px;
	width: 30px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
	background-color: #888888;
}

.currency-amount-extra
{
	height: 30px;
	width: 180px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
    padding-left: 2px;
	background-color: #888888;
}

.currency-title
{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	padding: 0;
}

.currency-amount
{
	height: 30px;
	width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
    padding-left: 2px;
	background-color: #888888;
}

.currency-income
{
	height: 30px;
	width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
	padding-left: 2px;
	background-color: #888888;
}

.title-A
{
	background-color: pink;
	color: black;
}

.amount-A,
.income-A
{
	color: pink;
}

.title-B
{
	background-color: red;
	color: white;
}

.amount-B,
.income-B
{
	color: red;
}

.title-C
{
	background-color: orange;
	color: white;
}

.amount-C,
.income-C
{
	color: orange;
}

.title-D
{
	background-color: yellow;
	color: black;
}

.amount-D,
.income-D
{
	color: yellow;
}

.title-E
{
	background-color: lime;
	color: black;
}

.amount-E,
.income-E
{
	color: lime;
}

.title-F
{
	background-color: cyan;
	color: black;
}

.amount-F,
.income-F
{
	color: cyan;
}

.title-G
{
	background-color: blue;
	color: white;
}

.amount-G,
.income-G
{
	color: blue;
}

.title-H
{
	background-color: purple;
	color: white;
}

.amount-H,
.income-H
{
	color: purple;
}

.title-I
{
	background-color: brown;
	color: white;
}

.amount-I,
.income-I
{
	color: brown;
}

.title-J
{
	background-color: black;
	color: white;
}

.amount-J,
.income-J
{
	color: black;
}

.building
{
	padding: 0;
	border-spacing: 0;
	border: 1px solid black;
}

.building canvas
{
	display: block;
	height: 30px;
	width: 30px;
}