.price-table,
.effect-table,
.income-table,
.base-price-table,
.price-growth-table
{
	border: 1px solid black;
	border-spacing: 0;
	vertical-align: top;
}

.multiple-buy
{
	width: 40px;
}

.buy-button
{
	width: 60px;
	height: 34px;
	border: 2px solid black;
	background-color: #AAAAAA;
	padding: 0;
}

.buy-button:hover,
.currency-button:hover
{
	background-color: black;
	color: white;
}

.currency-title
{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	padding: 0;
}

.currency-amount
{
	height: 30px;
	width: 140px;
	max-width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
    padding-left: 2px;
}

.currency-button
{
	height: 32px;
	width: 144px;
	background-color: #AAAAAA;
}

.buy-button:disabled,
.currency-button:disabled
{
	text-decoration: line-through;
}

.title-A
{
	background-color: pink;
	color: black;
}

.title-B
{
	background-color: red;
	color: white;
}

.title-C
{
	background-color: orange;
	color: black;
}

.title-D
{
	background-color: yellow;
	color: black;
}

.title-E
{
	background-color: lime;
	color: black;
}

.title-F
{
	background-color: cyan;
	color: black;
}

.title-G
{
	background-color: blue;
	color: white;
}

.title-H
{
	background-color: purple;
	color: white;
}

.title-I
{
	background-color: brown;
	color: white;
}

.title-J
{
	background-color: black;
	color: white;
}

.button-holder
{
	padding: 0;
}