.price-table,
.effect-table,
.income-table,
.base-price-table,
.price-growth-table
{
	border: 1px solid black;
	border-spacing: 0;
	vertical-align: top;
}

.buy-button
{
	width: 144px;
	height: 34px;
	border: 2px solid black;
	padding: 0;
	background-color: #888888;
}

.currency-title
{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	padding: 0;
}

.currency-amount
{
	height: 30px;
	width: 140px;
	border: 1px solid black;
	vertical-align: middle;
	padding: 0;
    padding-left: 2px;
	background-color: #888888;
}

.currency-button
{
	height: 32px;
	width: 144px;
}

.title-A
{
	background-color: pink;
	color: black;
}

.amount-A
{
	color: pink;
}

.title-B
{
	background-color: red;
	color: white;
}

.amount-B
{
	color: red;
}

.title-C
{
	background-color: orange;
	color: white;
}

.amount-C
{
	color: orange;
}

.title-D
{
	background-color: yellow;
	color: black;
}

.amount-D
{
	color: yellow;
}

.title-E
{
	background-color: lime;
	color: black;
}

.amount-E
{
	color: lime;
}

.title-F
{
	background-color: cyan;
	color: black;
}

.amount-F
{
	color: cyan;
}

.title-G
{
	background-color: blue;
	color: white;
}

.amount-G
{
	color: blue;
}

.title-H
{
	background-color: purple;
	color: white;
}

.amount-H
{
	color: purple;
}

.title-I
{
	background-color: brown;
	color: white;
}

.amount-I
{
	color: brown;
}

.title-J
{
	background-color: black;
	color: white;
}

.amount-J
{
	color: black;
}

.button-holder
{
	padding: 0;
}